<div class="container-text">
    <div id="point-form">
        <label for="x-input">Координата X: </label>
        <p-selectButton id="x-input"  [options]="range" [(ngModel)]="xCord"></p-selectButton>

        <label for="y-input">Координата Y: {{yCord}}</label>
        <p-slider [(ngModel)]="yCord" [min]="0" [max]="5" [step]="0.1"></p-slider>
       
        <label for="raius">Радиус: </label>
        <p-selectButton id="radius" [options]="range" [(ngModel)]="radius" (onChange)="onChange()"></p-selectButton>
        

        <button pButton type="button" label="Проверить" class="form-button"></button>
        <button pButton type="button" label="Очистить" class="form-button" (click)="clear()"></button>

    </div>
</div>